<nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-2" [style.color]="refWindow.colorText" [style.backgroundColor]="refWindow.colorTheme">
        <li class="breadcrumb-item ">
            <a (click)="navigateTo('home')" style="cursor: pointer;" class="font-weight-bolder">
                Home
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" [style.color]="refWindow.colorText">
            {{categorie}} </li>
    </ol>
</nav>

<div class="d-flex justify-content-start m-2">
    <div>
        <mat-form-field style="margin-bottom: -1.25em" class="float-right">
            <mat-label>Sort price by</mat-label>
            <mat-select [(value)]="selectedOptionPrice" (selectionChange)="onSelectedOptionPrice()">
                <mat-option value="none">None</mat-option>
                <mat-option value="less">Lowest first</mat-option>
                <mat-option value="plus">Highest first</mat-option>
                <mat-option value="new">New one first</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- <div>
        <mat-form-field style="margin-bottom: -1.25em" class="float-right">
            <mat-label>Sort price by</mat-label>
            <mat-select [(value)]="selectedOptionKippotsSize" (selectionChange)="onSelectedOptionKippotSize()">
              <mat-option value="none">None</mat-option>
              <mat-option value="less" >Lowest first</mat-option>
              <mat-option value="plus">Highest first</mat-option>
              <mat-option value="new">New one first</mat-option>
            </mat-select>
          </mat-form-field>
    </div> -->

</div>

<div class="container-fluid p-0" *ngIf="!refWindow.contentMobile && isFilterLoading">
    <div class="row no-gutters">
        <div class="col-sm-6 col-md-4 col-xlllg-3 col-xl-2 p-0 m-0"
            *ngFor="let product of productFilter; let i = index">
            <app-card-view [product]="product" [onAddToCard]="onAddToCard" [isMobile]="false" [refWindow]="refWindow"
                [openProductView]="openProductView">
            </app-card-view>
        </div>
    </div>
</div>


<div class="container-fluid p-0" *ngIf="refWindow.contentMobile && isFilterLoading">
    <div class="row no-gutters">
        <div class="col-6  p-0 m-0" *ngFor="let product of productFilter; let i = index">
            <app-card-view [product]="product" [onAddToCard]="onAddToCard" [isMobile]="false"
                [openProductView]="openProductView">
            </app-card-view>
        </div>
    </div>
</div>


<!-- <div class="m-1" *ngIf="isMobile">
        <div class="col-lg-2" *ngFor="let product of products; let i = index">
            <app-card-view [product]="product" [onAddToCard]="onAddToCard" [isMobile]="true" [openProductView]="openProductView">
            </app-card-view>
        </div>
    </div> -->