.headerNavHover a:hover {
    /* background-color: rgb(250, 250, 250);
    color: black; */
    /* font-weight: bolder; */
}


.content-dialog-sc {
    width: 600px;
}


::ng-deep .cdk-overlay-pane .filesList{
    min-width:500px;
}

.routerActive{
    /* background-color: rgb(156, 156, 156); */
    font-weight: bolder;
}


.nav-link-style {
    margin-right: 10px;
}





/* @import url(https://fonts.googleapis.com/css?family=Quando); */
/* *, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
} */


.navlink-animate{

}


  