<mat-progress-bar color="primary" mode="indeterminate" *ngIf="!menusReceive"></mat-progress-bar>

<div *ngIf="menusReceive">

    <mat-toolbar [style.backgroundColor]="refWindow.colorTheme" [style.color]="refWindow.colorText">
        <mat-toolbar-row>
            <button mat-icon-button (click)=" sidenavOpen = !sidenavOpen ">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 style="cursor: pointer;" (click)=" sidenavOpen = !sidenavOpen ">{{ categorieSelected }} </h1>
            <span class="toolbar-spacer"></span>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addProduct()">
                    <mat-icon>add_circle_outline</mat-icon>
                    <span>Add new product</span>
                </button>
                <button mat-menu-item (click)="updateMenu()">
                    <mat-icon>system_update_alt</mat-icon>
                    <span>Update menu</span>
                </button>
            </mat-menu>
        </mat-toolbar-row>
    </mat-toolbar>


    <mat-sidenav-container
        [ngClass]="{'drawer-container-position': !refWindow.contentMobile , 'drawer-container-position-mobile': refWindow.contentMobile  }"
        [style.marginTop.px]="0">

        <mat-sidenav #snav [(opened)]="sidenavOpen" [mode]="refWindow.contentMobile ? 'over' : 'side'"
            [fixedInViewport]="refWindow.contentMobile" fixedTopGap="110">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let menu of menus; let i = index" [expanded]="i === 0" class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4 pr-2"> {{ menu.categorie }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center mb-1  font-weight-bold" style="cursor: pointer"
                        [style.color]="refWindow.colorText" [style.backgroundColor]="refWindow.colorTheme"
                        *ngFor="let val of menu.value; let id = index"
                        (click)="handleSelectCatgorie(val); refWindow.contentMobile && sidenavOpen = false">{{ val }}</a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav>

        <mat-sidenav-content class=" ">

            <mat-progress-bar color="primary" mode="indeterminate" *ngIf="!dataReceive"></mat-progress-bar>

            <app-table-view [products]="products" [editProduct]="editProduct" [addProduct]="addProduct" *ngIf="dataReceive">
            </app-table-view>

        </mat-sidenav-content>

    </mat-sidenav-container>

</div>