<app-view-header title="About us" subTitle="Sabaisrael" url="magazin2.jpg" ></app-view-header>

<div class="p-3" [style.color]="windowRef.colorTheme" [style.backgroundColor]="windowRef.colorText">
  <div class="container">
    <!-- <h1 class="mb-0 text-center">חנות סבא ישראל</h1> -->
    <h2 class="mb-0 text-left">Saba israel store </h2>
    <!-- <h1 class="mb-0 text-center">ירושלים 69 רחוב אגריפס</h1> -->
    <h2 class="mb-0 text-left">Agripas Street 69, Jérusalem </h2>
    <button mat-icon-button type="button" (click)="goToLink('https://goo.gl/maps/WCyXg5kJLV2KNYTJ8')">
      <div class="d-flex align-items-center ">
        Plan google map <mat-icon>location_on</mat-icon>
      </div>
    </button>
  </div>
</div>








<div class="d-flex justify-content-center m-4" *ngIf="!dataReceive">
  <mat-progress-spinner class="text-center" color="primary" mode="indeterminate" [diameter]="40" *ngIf="!dataReceive">
  </mat-progress-spinner>
</div>


<iframe width="100%" height="400px" frameBorder="0" [src]="urlSafe" (load)="isLoaded()"></iframe>