<div class="container mt-4">
  <div class="row justify-content-center ">
    <div class="border-0 shadow m-1">
      <div class="card-body text-center ">
        <h1 class="mb-0">חנות סבא ישראל</h1>
        <small>Saba israel store </small>

        <h2 class="mb-0">ירושלים 69 רחוב אגריפס</h2>
        <small>Agripas Street 69, Jérusalem </small>
      </div>
    </div>
    <div class=" border-0 shadow m-1">
      <div class="card-body text-center ">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1695.7562059827264!2d35.212484535304704!3d31.78378214880525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502d62837961f95%3A0xd3f9d1148b164446!2sAgripas%20St%2069%2C%20Jerusalem!5e0!3m2!1sfr!2sil!4v1585495183413!5m2!1sfr!2sil"
          width="300px" heigth="300px"
          ></iframe>
      </div>
    </div>
  </div>
</div>
