


<div class="" >
  <div class="card border shadow  p-2 m-2"  [style.color]="windowRef.colorText" [style.backgroundColor]="windowRef.colorTheme">
    <h1 class="mb-0 text-center">חנות סבא ישראל</h1>
    <h2 class="mb-0 text-center">Saba israel store </h2>
    <h1 class="mb-0 text-center">ירושלים 69 רחוב אגריפס</h1>
    <h2 class="mb-0 text-center">Agripas Street 69, Jérusalem </h2>
  </div>
</div>


<iframe width="100%" height="400px" frameBorder="0" [src]="urlSafe"  (load)="isLoaded()" ></iframe>

