<!-- <mat-progress-bar class="m-2"  color="primary" mode="buffer" *ngIf="!dataReceive"></mat-progress-bar>
 -->

<div  *ngIf="products.length > 0">
    <!-- <app-product-cards class="" [categorie]="categorie" [products]="products" [isMobile]="isMobile" [navigateTo]="navigateTo"
        [openProductView]="openProductView" [onAddToCard]="onAddToCard">
    </app-product-cards> -->
    <nav class="p-0 m-0 "   style="cursor: pointer;" (click)="navigateTo(categorie)"   >
        <ol class="breadcrumb  m-1 bg-white" [style.color]="refWindow.colorTheme"  >
            <li class="breadcrumb-item ">
                <a class="font-weight-bolder">
                    {{categorie}}
                </a>
            </li>
        </ol>
    </nav>
    
    <div class="container-fluid p-0" *ngIf="!refWindow.contentMobile ">
        <div class="row no-gutters">
            <div class="col-sm-6 col-md-4 col-xlllg-3 col-xl-2 p-0 m-0" *ngFor="let product of products; let i = index">
                <app-card-view [product]="product" [onAddToCard]="onAddToCard" [isMobile]="false"
                    [openProductView]="openProductView">
                </app-card-view>
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid p-0" *ngIf="refWindow.contentMobile ">
        <div class="row no-gutters">
            <div class="col-6  p-0 m-0" *ngFor="let product of products; let i = index">
                <app-card-view [product]="product" [onAddToCard]="onAddToCard" [isMobile]="false"
                    [openProductView]="openProductView">
                </app-card-view>
            </div>
        </div>
    </div>
    
</div>