    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 card border-0 shadow p-3">
                <form [formGroup]="FormValidation" (ngSubmit)="onSubmit()">
                    <h1 class="text-center">
                        Contact Me
                    </h1>
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name">
                        <mat-error *ngIf="FormValidation.get('name').invalid && validatorInvalid"> You must enter a value</mat-error>
                    </div>
                    <div class="form-group">
                        <input  type="email" class="form-control" id="email" name="email" placeholder="Email"
                            formControlName="email">
                            <mat-error *ngIf="FormValidation.get('email').invalid && validatorInvalid"> You must enter a value </mat-error>
                    </div>
                    <div class="form-group">
                        <input type="phone" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number"
                            formControlName="mobile">
                            <mat-error *ngIf="FormValidation.get('mobile').invalid && validatorInvalid"> You must enter a value</mat-error>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                            formControlName="subject">
                         
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message"
                            formControlName="message" maxlength="140" rows="7"></textarea>
                            <mat-error *ngIf="FormValidation.get('message').invalid && validatorInvalid"> You must enter a value</mat-error>
                    </div>
                    <button type="submit" id="submit" name="submit" class="btn btn-dark btn-block" >
                        <div class="spinner-border spinner-border-sm" role="status" *ngIf="loadingContent">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <p *ngIf="!loadingContent" class="text-white m-0">Send</p>
                    </button>
                </form>
            </div>
            <div class="col-lg-2"> </div>
        </div>
    </div>