table {
    width: 100%;
  }


  .progress-bar-position{
    position: absolute;
    top: 53px;
    left: 1;
    right: 2;
  }

  .progress-bar-position-mobile{
    position: absolute;
    top: 56px;
    left: 1;
    right: 2;
  }

  .container-position-absolute{
    margin-bottom: 53px;
  }