<form class="form-inline pb-0" *ngIf="dataReceive">
    <input class="form-control" id="" type="text" aria-label="Number"  [formControl]="myControl" placeholder="search product" 
    [style.width.px]="isMobile? 190 : 280"
      [matAutocomplete]="auto" 
      (keyup.enter)="openProductKEYUP()"
      >
    <mat-autocomplete #auto="matAutocomplete" class="pb-0">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name"
        (click)="openProduct(option.id,option.categorie)" >
        <app-product-search-view [categorie]="option.categorie" [id]="option.id">
        </app-product-search-view>
      </mat-option>
      <mat-option *ngIf="noResult" [value]="''">
        <div class="d-flex justify-content-center flex-wrap align-content-center">
          <p class="text-black font-weight-bolde ">search not found ...</p>
        </div>
      </mat-option>
    </mat-autocomplete>
    <mat-icon style="cursor: pointer;" class="ml-1" (click)="openProductKEYUP()">search</mat-icon>
</form>


<!-- <form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form> -->