<div class="m-0 p-0">
    <div class="container">
        <h3 mat-dialog-title class="text-center"> Menu update </h3>
        <div class="row">
            <div class="col-sm-8">
                    <mat-accordion cdkDropList class="example-list m-1" (cdkDropListDropped)="drop($event)">

                        <mat-expansion-panel cdkDrag *ngFor="let menu of menus; let i = index"
                            (cdkDropListDropped)="drop($event)" class="m-1">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="h5 mr-4 pr-2">
                                    <button class="btn-sm btn mr-2" (click)="handleDeleteCategorie(i)"> delete
                                    </button>
                                    <span class="">
                                        <!-- {{menu.categorie}}  -->
                                        <input type="text" class="form-control " [(ngModel)]="menus[i].categorie">
                                    </span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="" *ngFor="let submenu of menu.value; let id = index">
                                <div class="example-box  ">
                                    {{ submenu }}
                                    <button class="btn-sm btn btn-danger" (click)="handleDelete(id,i)"> delete </button>
                                </div>
                            </div>
                            <div class=" ">
                                <div class="example-box ">
                                    <input type="text" placeholder="add sub categorie" class="form-control mr-1"
                                        [(ngModel)]="subCategorie">
                                    <button class="btn-sm btn btn-dark" (click)="addSubCategorie(subCategorie,i)"> add
                                    </button>
                                </div>
                            </div>
                        </mat-expansion-panel>


                    </mat-accordion>
            </div>
            <div class="col-sm-4">
                <input type="text" placeholder="add categorie" id="categorie" class="form-control m-1"
                    [(ngModel)]="categorie">
                <button class="btn btn-dark btn-block rounded  m-1" (click)="addCategorie()">
                    Add
                </button>
                <button class="btn btn-success btn-block rounded  m-1" (click)="SaveMenu()">
                    Save
                </button>
                <button class="btn btn-secondary btn-block rounded  m-1" (click)="onClose()">
                    close
                </button>
            </div>
        </div>
    </div>
</div>