<div  *ngIf="product!== undefined" class="border border-warning border-top-0 border-left-0 border-right-0 p-1 m-1">
    <div class="d-flex flex-row justify-content-between">
        <div class="">
            <h5 class=" font-weight-bolder m-0"> {{ product.name }} </h5> 
            <p class="text-dark font-weight-bolder m-0"> {{ product.price }} ₪ </p>
        </div>
        <div class="">
            <div class="d-flex flex-wrap align-content-center justify-content-center"
                style="width: 70px; height: 70px;" *ngIf="imageLoader">
                <div class="spinner-border text-dark text-center" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <img [src]="product.photo" style="cursor: pointer; width: 70px; height: 70px;" [hidden]="imageLoader" (load)="imageLoader = false"
                [alt]="product.photo">
        </div>
    </div>
</div>


