.drawer-container-position{
    position: absolute;
    top: 120px;
    bottom: 52px;
    left: 0;
    right: 0;
 }
 

 .drawer-container-position-mobile {
  position: absolute;
  top: 125px;
  bottom: 52px;
  left: 0;
  right: 0;
}

.mat-progress-bar-position{
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
}

.progress-bar-position-mobile{
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
}

.side-style {
  /* background-color: rgb(119, 136, 153); */
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}



/* .mat-sidenav-content,
.mat-sidenav-container,
.mat-drawer-content {
    transform: none !important;
} */

/* 
.mat-sidenav-container, .mat-sidenav-content{
  overflow: initial
} */

.mat-drawer-side{
  border: none;
}