<div>

    <mat-progress-bar [ngClass]="{'progress-bar-position': !isMobile , 'progress-bar-position-mobile': isMobile  }"
        color="primary" mode="indeterminate" *ngIf="!dataReceive"></mat-progress-bar>

    <mat-toolbar color="light" class="example-toolbar">
        <mat-icon *ngIf="!sidenavOpen" style="cursor: pointer;" (click)=" sidenavOpen = !sidenavOpen ">menu</mat-icon>
        <mat-icon *ngIf="sidenavOpen" style="cursor: pointer;" (click)=" sidenavOpen = !sidenavOpen ">menu_open
        </mat-icon>
        <h1 class="ml-2" (click)=" sidenavOpen = !sidenavOpen " style="cursor: pointer;" >{{ categorieSelected }}</h1>
    </mat-toolbar>

    <mat-sidenav-container
        [ngClass]="{'drawer-container-position': !isMobile , 'drawer-container-position-mobile': isMobile  }"
        [style.marginTop.px]="0">
        <mat-sidenav #snav [(opened)]="sidenavOpen" [mode]="isMobile ? 'over' : 'side'"
            [fixedInViewport]="isMobile" fixedTopGap="110">
            <mat-accordion>
                <mat-expansion-panel [expanded]="true" class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4 pr-2"> קיפות - Kippots</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center" style="cursor: pointer"
                        [ngClass]="{'nav-link ': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Kippots'); isMobile && sidenavOpen = false">Kippots קיפוט</a>
                </mat-expansion-panel>

                <mat-expansion-panel class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4"> חגים - Holidays</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center mb-1" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Pessah') ;isMobile && sidenavOpen = false">Pessah פסח</a>
                    <a class="nav-link rounded-sm text-center" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Hanouka') ; isMobile && sidenavOpen = false">Hanouka חנוכה</a>
                </mat-expansion-panel>

                <mat-expansion-panel class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4">טליטות - Tallits</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Tallits') ; isMobile && sidenavOpen = false">טליטות - Tallits</a>
                </mat-expansion-panel>

                <mat-expansion-panel class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4"> מזוזות - Mezouzots</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center mb-1" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Mezouzots') ; isMobile && sidenavOpen = false">Mezouzots
                        מזוזות</a>
                    <a class="nav-link rounded-sm text-center" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Klafims') ; isMobile && sidenavOpen = false">קלפים Klafims</a>
                </mat-expansion-panel>

                <mat-expansion-panel class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4"> ספרים - Books</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center mb-1" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Books') ; isMobile && sidenavOpen = false">Books ספרים</a>
                </mat-expansion-panel>

                <mat-expansion-panel class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4"> ברסלב - Breslev</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Breslev') ; isMobile && sidenavOpen = false">Breslev ברסלב</a>
                </mat-expansion-panel>

                <mat-expansion-panel class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4"> תפילין - Tefilins</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center" style="cursor: pointer"
                        [ngClass]="{'nav-link': true , 'text-white bg-dark' : true }"
                        (click)="handleSelectCatgorie('Tefilins') ; isMobile && sidenavOpen = false"> תפילין -
                        Tefilins</a>
                </mat-expansion-panel>


            </mat-accordion>
        </mat-sidenav>

        <mat-sidenav-content class=" ">
            <div class="text-center p-4" *ngIf="dataReceive && prodcuctFilter.length === 0">
                <h3> 0 products was found</h3>
            </div>
            <app-product-cards [categorie]="categorieSelected" [products]="prodcuctFilter" [isMobile]="isMobile"
                *ngIf="dataReceive" [onAddToCard]="onAddToCard">
            </app-product-cards>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>