<mat-progress-bar [ngClass]="{'progress-bar-position': !isMobile , 'progress-bar-position-mobile': isMobile  }"
    color="primary" mode="indeterminate" *ngIf="!dataReceive || !menusReceive"></mat-progress-bar>

<div *ngIf="menusReceive">



    <mat-toolbar color="light">
        <mat-toolbar-row>
            <button mat-icon-button (click)=" sidenavOpen = !sidenavOpen ">
                <mat-icon>menu</mat-icon>
            </button>
            <h1 style="cursor: pointer;" (click)=" sidenavOpen = !sidenavOpen ">{{ categorieSelected }} </h1>
            <span class="toolbar-spacer"></span>
            <mat-icon style="cursor: pointer;" (click)="openProductSearch = !openProductSearch">search</mat-icon>
            <app-product-search *ngIf="openProductSearch" [isMobile]="isMobile"></app-product-search>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container
        [ngClass]="{'drawer-container-position': !isMobile , 'drawer-container-position-mobile': isMobile  }"
        [style.marginTop.px]="0">


        <mat-sidenav #snav [(opened)]="sidenavOpen" [mode]="isMobile ? 'over' : 'side'" [fixedInViewport]="isMobile"
            fixedTopGap="110">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let menu of menus; let i = index"
                    [expanded]="menu.value.includes(categorieSelected)" class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4 pr-2"> {{ menu.categorie }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center mb-1" style="cursor: pointer"
                        [ngClass]="{'nav-link ': true , 'text-white bg-dark' : true }"
                        *ngFor="let val of menu.value; let id = index"
                        (click)="handleSelectCatgorie(val); isMobile && sidenavOpen = false">{{ val }}</a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav>

        <mat-sidenav-content class="">
           
            <div class="m-2" *ngIf="dataReceive && !showProductView && !showProductHome">
                <app-product-cards class="" [categorie]="categorieSelected" [products]="products" [isMobile]="isMobile" [navigateTo]="navigateTo"
                    [openProductView]="openProductView" [onAddToCard]="onAddToCard">
                </app-product-cards>
                <div class="text-center p-4" *ngIf="products.length === 0">
                    <h3> 0 products was found</h3>
                </div>
            </div>

            <app-product-view *ngIf="showProductView" [product]="productSelected" [navigateTo]="navigateTo"
                [onAddToCard]="onAddToCard">
            </app-product-view>
            <app-product-home *ngIf="showProductHome" [isMobile]="isMobile" [openProductView]="openProductView"
                [menus]="menus" [navigateTo]="navigateTo" [onAddToCard]="onAddToCard"></app-product-home>
        </mat-sidenav-content>

    </mat-sidenav-container>
</div>