<mat-progress-bar color="primary" [style.color]="refWindow.colorText" mode="indeterminate" *ngIf="!menusReceive">
</mat-progress-bar>

<div *ngIf="menusReceive">



    <mat-toolbar [style.backgroundColor]="refWindow.colorTheme" [style.color]="refWindow.colorText"
        [ngClass]="{ 'sticky-top': refWindow.contentMobile}">
        <mat-toolbar-row>
            <button mat-icon-button (click)=" sidenavOpen = !sidenavOpen ">
                <mat-icon>menu</mat-icon>
            </button>
            <h3 class="m-0" style="cursor: pointer;" (click)=" sidenavOpen = !sidenavOpen ">{{ categorieSelected }}
            </h3>
            <span class="toolbar-spacer"></span>
            <app-product-search [isMobile]="refWindow.contentMobile"></app-product-search>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container
        [ngClass]="{'drawer-container-position bg-white': !refWindow.contentMobile , 'drawer-container-position-mobile': refWindow.contentMobile  }"
        [style.marginTop.px]="0" class="bg-white">

        <mat-sidenav #snav [(opened)]="sidenavOpen" [mode]="refWindow.contentMobile ? 'over' : 'side'" class="bg-light"
            [fixedInViewport]="refWindow.contentMobile" [ngClass]="{'sidenav-mobile': refWindow.contentMobile}"
            [fixedTopGap]="110">
            <mat-accordion>
                <mat-expansion-panel *ngFor="let menu of menus; let i = index"
                    [expanded]="menu.value.includes(categorieSelected) || (menu.value.includes('Kippots') && categorieSelected === 'Home' )" class="m-1">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="h5 mr-4 pr-2"> {{ menu.categorie }}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <a class="nav-link rounded-sm text-center mb-1  font-weight-bold" style="cursor: pointer"
                        [style.color]="refWindow.colorText" [style.backgroundColor]="refWindow.colorTheme"
                        *ngFor="let val of menu.value; let id = index"
                        (click)="handleSelectCatgorie(val); refWindow.contentMobile && sidenavOpen = false">{{ val }}</a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-sidenav>

        <mat-sidenav-content class="bg-light">

            <mat-progress-bar color="primary" mode="indeterminate" *ngIf="!dataReceive"></mat-progress-bar>

            <div class="m-2" *ngIf="!showProductView && !showProductHome && dataReceive">
                <app-product-cards class="" [categorie]="categorieSelected" [products]="products"
                    [refWindow]="refWindow" [navigateTo]="navigateTo" [openProductView]="openProductView"
                    [onAddToCard]="onAddToCard">
                </app-product-cards>
                <div class="text-center p-4" *ngIf="products.length === 0 ">
                    <h3> 0 products was found</h3>
                </div>
            </div>

            <app-product-view *ngIf="showProductView" [product]="productSelected" [navigateTo]="navigateTo"
                [refWindow]="refWindow" [onAddToCard]="onAddToCard">
            </app-product-view>




            <app-product-home *ngIf="showProductHome" [refWindow]="refWindow" [openProductView]="openProductView"
                [products]="products" [menus]="menus" [navigateTo]="navigateTo" [onAddToCard]="onAddToCard">
            </app-product-home>
            <div class="d-flex justify-content-center flex-wrap align-content-center" style="width: 150px; height: 110px;" *ngIf="moreLoading">
                <mat-progress-spinner class="example-margin" color="primary" mode="indeterminate"  [diameter]="40" >
                </mat-progress-spinner>
            </div>
            <button mat-button class="m-1" *ngIf="dataReceive && showProductHome"  (click)="handleSelectMenu()">more...</button>
            <button mat-button class="m-1" *ngIf="dataReceive && !showProductView && !showProductHome "  (click)="handleSelectCatgorie_(categorieSelected)">more...</button>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>