<mat-progress-bar [ngClass]="{'progress-bar-position': true}" color="primary" mode="indeterminate" *ngIf="countReceive > 0"></mat-progress-bar>


<div class="m-0">

    <div *ngFor="let menu of menuList; let i = index" >
        <!-- <nav aria-label="breadcrumb navbar" class=" ">
            <ol class="breadcrumb m-2">
                <li class="breadcrumb-item">
                    <a style="cursor: pointer;" class="text-primary font-weight-bolder">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" style="cursor: pointer;"
                    (click)="navigateTo(menu)"> {{menu}} </li>
            </ol>
        </nav> -->

        <app-home-view-product [categorie]="menu" [refWindow]="refWindow" [openProductView]="openProductView" [navigateTo]="navigateTo"
            [onAddToCard]="onAddToCard"  [setDataReceive]="setDataReceive"></app-home-view-product>
    </div>





</div>