
<mat-progress-bar color="primary" mode="indeterminate" *ngIf="loadingContent"></mat-progress-bar>

<div class="container pt-3">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 card m-1 p-3">
            <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                <h2 class="text-center">SignIn</h2>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" formControlName="email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" formControlName="password">
                </div>
                <button class="btn btn-dark btn-block" type="submit" [disabled]="signinForm.invalid">
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loadingContent">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div *ngIf="!loadingContent">Connexion</div>        
                </button>
                <button class="btn btn-sm btn-link m-1"  (click)="handelSigUp()" >
                     Not register yet ? please signup  
                </button>
                <p class="text-danger">{{ errorMessage }}</p>
            </form>
        </div>
        <div class="col-lg-2"> </div>
    </div>
</div>
