<header class="bg-light text-center py-5 mb-4">
    <div class="container">
        <h1 class="font-weight-light text-dark">Welcome</h1>
    </div>
</header>
<div class="container">
    <div class="row justify-content-center">


    <a class="nav-link" routerLink="product">
        <div class="card-body text-center bg-light">
            STORE
            <div class="card-text text-black-50 mb-2">
                sale of product
            </div>
        </div>
    </a>
    <a class="nav-link" routerLink="about">
        <div class="card-body text-center bg-light">
            ABOUT
            <div class="card-text text-black-50 mb-2">
                About me
            </div>
        </div>
    </a>



</div>
</div>
